body {
    /* Margin top by header menu height */
    padding-top: 65px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

header {
    padding-bottom: 15px;
}

main {
    padding-bottom: 15px;
}

.intro {
    padding-top: 10px;
    padding-bottom: 15px;
}

.display-4 {
    line-height: 0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}