{% load menu_tags themeZ_tags wagtailcore_tags %}
{% get_site_root as site_root %}
{% get_site_name as site_name %}

<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        {% if site_name %}
            <a href="{% pageurl site_root %}" class="navbar-brand">{{ site_name }}</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                {% for item in menu_items %}
                    <li class="nav-item {{ item.active_class }}{% if item.has_children_in_menu %} dropdown{% endif %}">
                        {% if item.has_children_in_menu %}
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ item.href }}"
                               id="ddtoggle_{{ item.link_page.pk }}">{{ item.text }} <span
                                    class="caret"></span></a>
                            {% sub_menu item template="themeZ/partials/header/sub_menu_dropdown.html" %}
                        {% else %}
                            <a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>